/* Header background */
/*
.ui.inverted.blue.menu {
  background-color: #2185D0;
}
*/

/* Footer background */
/*
.ui.inverted.segment {
  background: #1B1C1D;
}
*/

/* Forum title background */
/*
.ui.inverted.blue.segment {
  background-color: #2185D0 !important;
}
*/
