.msgs-compose {
    padding: 10px;
    display: flex;
    align-items: center;
    background: white;
    border-top: 1px solid #eeeef1;
    position: fixed;
    width: calc(100% - 362px);
    bottom: 0px;
}

@supports (backdrop-filter: blur(20px)) {
    .msgs-compose {
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
    }
}

.msgs-compose-input-panel {
    flex: 1;
}

.msgs-compose-reply {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    flex: 1;
    border-left: #007aff solid 2px;
    font-size: 14px;
}

.msgs-compose-reply-from {
    font-weight: bold;
    color: #007aff;
}

.msgs-compose-reply-close {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    cursor: pointer;
}

.msgs-compose-reply-close:hover {
    color: #007aff;
}

.msgs-compose-input {
    border: none;
    font-size: 14px;
    height: 40px;
    background: none;
    width: 100%;
}

.msgs-compose-input::placeholder {
    opacity: 0.5;
}

.msgs-compose .msgs-toolbar-button {
    color: #bbbbbf;
    margin-right: 12px;
}

.msgs-compose .msgs-toolbar-button:hover {
    color: #99999c;
}

.msgs-compose-panel {
    width: 100%;
    height: 50px;
    padding: 8px;
}

.msgs-compose-panel .edit-button {
    float: right;
}

.msgs-compose-panel .delete-button {
    float: right;
}

.msgs-compose-panel .cancel-button {
    float: right;
}
