.voting__range-result {
    margin-top: 8px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    text-align: center;
}

.voting__range {
    margin-top: 10px !important;
    margin-left: 10px !important;
    width: 200px;
    cursor: pointer;
}

@supports (-moz-appearance:none) {
    .voting__range {
        margin-top: 7px !important;
    }
}

.voting__close-button {
    margin-top: 7px !important;
    margin-left: 10px !important;
    vertical-align: top !important;
    cursor: pointer;
}

.voting__dropdown {
    float: left;
    height: 38px;
    min-width: 28px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center !important;
    margin-right: 3px;
    padding-top: 7px;
}
